*{
  user-select: none;
}
*::selection {
  background: none;
}
*::-moz-selection {
  background: none;
}
	
.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 100%; /* 1:1 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

@media only screen   
and (max-width : 1024px) { 
 
	#capa1{ position:absolute; z-index:1;
		width: 100%;
		padding: 10px 0;
		text-align: center;
		background-color: rgb(94, 188, 229);
		left: 55px;
		font-size: 100%;
		color: #56070C;
	}
}

#capa1 { position:absolute; z-index:1;
  width: 100%;
  padding: 8px 0;
  text-align: center;
  background-color: rgb(94, 188, 229);
  color: #56070C; 
  font-size: 100%;
 }
 
#capa2 { position:absolute; z-index:0; }
